<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <!-- rendering partils headers-->
    {{>header}}
    <p>Created by {{name}}</p>
</body>

</html>