./playground/node_modules
./playground/node_modules/*
./web-server/node_modules
./web-server/node_modules

playground/node_modules
playground/node_modules/*
web-server/node_modules
web-server/node_modules